{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          {{ $image:= .Params.image }}
          {{ if $image }}
            <div class="mb-10">
              {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-fit rounded") }}
            </div>
          {{ end }}
          <h1 class="h2 mb-4">
            {{ .Title }}
          </h1>

          <div class="content mb-10">
            {{ .Content }}
          </div>
          <div class="row items-start justify-between">
            <div class="inline-flex">
              {{ with .Params.button }}
                {{ if .enable }}
                  <a
                    class="btn btn-primary mx-2"
                    href="{{ .link | absURL }}"
                    {{ if strings.HasPrefix .link `http` }}
                      target="_blank" rel="noopener"
                    {{ end }}>
                    {{ .label }}
                    <i class="fa fa-arrow-right pl-2"></i>
                  </a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </article>
      </div>

      <!-- Related posts -->
      {{ $related := .Site.RegularPages.Related . | first 10 }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <h2 class="h3 mb-12">{{ T "related_posts" }}</h2>
          <div class="row">
            {{ range . }}
              <div class="lg:col-4 md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
